<ng-container *ngIf="book$ | async as book; else loading">
  <h2>{{ book.title }}</h2>
  <p>
    {{ book.description }}
  </p>
</ng-container>

<ng-template #loading>
  Buch wird geladen ...
</ng-template>


<hr>

<a routerLink="/books">Zum Dashboard</a><br>
<!--<a [routerLink]="['/books']">Zum Dashboard</a>-->
<!--<a routerLink="..">Zum Dashboard</a>-->

<a routerLink="/books/9783864907791">Zum Angular-Buch</a>
<!--<a [routerLink]="['/books', '9783864907791']">Zum Angular-Buch</a>
<a [routerLink]="['/books/9783864907791']">Zum Angular-Buch</a>
<a routerLink="../9783864907791">Zum Angular-Buch</a>-->
